{% load static %}
<div class="about-block" id="about-block">
    <div class="container">
        <div class="row">
            <h4 class="main-title">Schedule Overview</h4>

            <div class="col l4 m6 s12">
                <span class="topic-icon"><i class="material-icons medium">mic</i></span>
                <h5 class="title">Talks</h5>
                <p>Experts will share with us them experience and the use of new technologies.</p>
            </div>
            <div class="col l4 m6 s12">
                <span class="topic-icon"><i class="material-icons medium">code</i></span>
                <h5 class="title">Codelabs</h5>
                <p>Come and participate in workshops with experts in the field, all you need is to register the event and bring your laptop.</p>
                <p></p>
            </div>
            <div class="col l4 m12 s12">
                <span class="topic-icon"><i class="material-icons medium">dashboard</i></span>
                <h5 class="title">Fair Projects</h5>
                <p>The fair projects can watch as technology moves in our city, you can also be part.
{#                 <a href="https://goo.gl/Y4oXFn" class="link"><strong>Registrate a la Feria</strong></a>#}
                </p>
            </div>
        </div>
    </div>
</div>