{% load static %}
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">PyCON Colombia 2016</h5>
                <p class="grey-text text-lighten-4">Follow Us.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul class="social-links">
                    <li class="facebook"><a class="grey-text text-lighten-3" href="https://www.facebook.com/PyCon-Colombia-1071244226273512/" target="_blank"><i class="fa fa-facebook"></i> </a></li>
                    <li class="twitter"><a class="grey-text text-lighten-3" href="https://twitter.com/pyconcolombia" target="_blank"><i class="fa fa-twitter"></i> </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 - Python Colombia
        </div>
    </div>
</footer>