<div class="sponsors-block" id="volunteers-block">
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
                 <h4 class="main-title">Volunteers</h4>
                 <p class="center">PyCon Colombia is organized and run by volunteers from the Python Colombia community.</p>

                 <p class="center"><a href="http://eepurl.com/b3nVgn" target="_blank">Let us know you'd like to volunteer!</a></p>
                 </p>
            </div>
        </div>
    </div>
</div>
